@model GestionAmbientesLaSirenita.Models.Movimiento

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Está seguro?</h3>
<div>
    <h4>Movimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ambiente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ambiente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recurso.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recurso.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
